<!-- CABECERA -->
<div th:fragment="header" class="py-5 d-flex justify-content-around align-items-center bg-primary">
    <div>
        <img th:src="@{/img/logo_RG_180_mono_new_nohalo.png}" class="img-fluid" alt="logo ies ruiz gijón">
    </div>
    <div class="text-center mt-2 text-white">
        <h1 class="fw-bolder">Incidencias <span class="text-amarillo">Informáticas</span></h1>

        <!-- Si el usuario existe -->
        <p th:if="${currentUser != null}">
            Bienvenido [[${currentUser.nombre}]]&nbsp;[[${currentUser.apellido1}]]
        </p>

        <!-- Si el usuario no existe -->
        <p th:unless="${currentUser != null}">
            Bienvenido invitado
        </p>
    </div>
</div>
